## ETL EXTRACCION TRANSFORMACION Y CARGA

Información sobre el proyecto
Una empresa prestadora de servicios de telecomunicaciones nos encarga la realización de un análisis completo que permita reconocer el comportamiento de este sector a nivel nacional.

Consideramos que la principal actividad de la empresa es brindar acceso a internet, pero también es importante considerar el comportamiento asociado al resto de los servicios de comunicación, con el fin de orientar a la empresa en brindar una buena calidad de sus servicios, identificar oportunidades de crecimiento y poder plantear soluciones personalizadas a sus posibles clientes.

Comenzamos haciendo un breve análisis de los datos proporcionados y luego complementamos con información extra.

Datasets principales
Se nos proporciona un link a la siguiente página web de ENACOM, en donde encontramos 15 datasets a analizar.

1) Acc_vel_loc_sinrangos: Proporciona datos detallados de accesos a internet por diferentes velocidades de conexión en varias localidades de Argentina.
2) Velocidad_sin_Rangos: Muestra estadísticas de acceso a internet desglosadas por velocidad y provincia.
3) Velocidad % por prov: Presenta el porcentaje de accesos a internet por rangos de velocidad en cada provincia.
4) Totales VMD: Contiene los totales de velocidad media descargada (VMD) por región.
5) Accesos_tecnologia_localidad: Incluye los accesos a internet por tecnología en diferentes localidades.
6) Totales Accesos Por Tecnología: Muestra los totales de accesos a internet desglosados por cada tipo de tecnología.
7) Accesos Por Tecnología: Detalla los accesos a internet por tecnología en diferentes provincias.
8) Dial-BAf: Presenta los datos de accesos dial-up y Banda Ancha Fija.
9) Totales Dial-BAf: Muestra los totales de accesos dial-up y Banda Ancha Fija.
10) Penetración-poblacion: Incluye los datos de penetración de internet en la población.
11) Penetracion-hogares: Proporciona información sobre la penetración de internet en hogares.
12) Penetracion-totales: Presenta los totales de penetración de internet.
13) Totales Accesos por velocidad: Muestra los totales de accesos a internet por diferentes velocidades de conexión.
14) Accesos por velocidad: Detalla los accesos a internet desglosados por velocidad en cada provincia.
15) Ingresos: Contiene los datos de ingresos generados por los servicios de internet.

Importo librerias necesarias y seteo la configuracion para leer la informacion

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import locale

pd.set_option('display.float_format', '{:.3f}'.format)

Para agilizar creo una funcion para crear los dataframes

In [2]:
def crear_df(nombre: str):
    df = pd.read_excel(r"D:\Denise_Estudio\henry\PI2\Internet.xlsx", sheet_name= nombre)
    return df

## Velocidad
A continuacion presento las hojas que hablan sobre velocidad

1) Acc_vel_loc_sinrangos: Proporciona datos detallados de accesos a internet por diferentes velocidades de conexión en varias localidades de Argentina.
2) Velocidad_sin_Rangos: Muestra estadísticas de acceso a internet desglosadas por velocidad y provincia.
3) Velocidad % por prov: Presenta el porcentaje de accesos a internet por rangos de velocidad en cada provincia.
4) Totales VMD: Contiene los totales de velocidad media descargada (VMD) por región.
13) Totales Accesos por velocidad: Muestra los totales de accesos a internet por diferentes velocidades de conexión.
14) Accesos por velocidad: Detalla los accesos a internet desglosados por velocidad en cada provincia.

Creo los dataframes

In [3]:
df_acc_vel_loc_sinrangos = crear_df('Acc_vel_loc_sinrangos')
df_velocidad_sin_rangos = crear_df('Velocidad_sin_Rangos')
df_vel_por_prov = crear_df('Velocidad % por prov')
df_total_vdm = crear_df('Totales VMD')
df_acc_x_vel = crear_df('Accesos por velocidad')
df_total_acc_x_vel = crear_df('Totales Accesos por velocidad')

In [4]:
df_acc_vel_loc_sinrangos

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,540 Mbps,600 Mbps,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.000,NaN,19.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3061,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000,NaN
3062,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3063,TUCUMAN,Trancas,Villa de Trancas,90112030,NaN,NaN,NaN,NaN,NaN,1.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3064,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,6.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3065,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176.000,NaN,NaN,NaN,NaN,14.000,...,NaN,133.000,NaN,NaN,NaN,NaN,NaN,NaN,11.000,NaN

Puedo ver que este dataframe trata sobre las velocidades de acceso a internet en Mbps por año por trimestre a nivel localiidad-provincia por velocidades pero sin dar informacion por año, por lo que se deduce que es actual

Reviso nulos

In [5]:
df_acc_vel_loc_sinrangos.isna().sum()

Provincia        0
Partido          0
Localidad        0
Link Indec       0
Otros         2189
              ...
850 Mbps      3065
900 Mbps      3065
999 Mbps      3049
1000 Mbps     2648
1024 Mbps     3065
Length: 136, dtype: int64

Noto que existen demasiados datos nulos en este dataframe, por lo que revisare otros para saber si algun otro podria ser de mayor utlidad

In [6]:
df_velocidad_sin_rangos

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2023.000,4.000,Buenos Aires,93351.000,19.000,0.000,0.000,26703.000,187.000,4611.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023.000,4.000,Capital Federal,0.000,31.000,0.000,0.000,451.000,34.000,1307.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023.000,4.000,Catamarca,77.000,0.000,0.000,0.000,34.000,37.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023.000,4.000,Chaco,4040.000,0.000,0.000,0.000,234.000,2.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2023.000,4.000,Chubut,16589.000,8.000,0.000,0.000,69.000,34.000,836.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2017.000,4.000,Santa Fe,14119.000,0.000,0.000,0.000,3109.000,0.000,7637.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
597,2017.000,4.000,Santiago Del Estero,0.000,0.000,0.000,0.000,41.000,0.000,909.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
598,2017.000,4.000,Tierra Del Fuego,0.000,0.000,0.000,0.000,6.000,0.000,282.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
599,2017.000,4.000,Tucumán,0.000,0.000,0.000,0.000,105.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se observa que existen datos desde el 2017 al 2023 sobre cantidad de accesos a diferentes velocidades de internet en las provincias, separados por trimestres (Suponiendo que estos son: 1 :Ene-Mar , 2 : Abr-Jun , 3 :Jul-Sept , 4 : Oct-Dic )

Reviso valores faltantes

In [7]:
df_velocidad_sin_rangos.isna().sum()

Año           1
Trimestre     1
Provincia     1
Otros         1
0,256 Mbps    1
             ..
5125 Mbps     1
6000 Mbps     1
7000 Mbps     1
8000 Mbps     1
10000 Mbps    1
Length: 193, dtype: int64

Aqui veo informacion mas completa que podria ser de mayor utilidad

Borro el valor nulo que se observa en la ultima fila, luego prosigo con los otros dataframes

In [8]:
df_velocidad_sin_rangos.dropna(inplace=True)

In [9]:
df_vel_por_prov

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2023          4         Buenos Aires                 158.490
1    2023          4      Capital Federal                 234.440
2    2023          4            Catamarca                  89.400
3    2023          4                Chaco                 107.140
4    2023          4               Chubut                  20.290
..    ...        ...                  ...                     ...
955  2014          1           Santa Cruz                   3.316
956  2014          1             Santa Fe                   3.147
957  2014          1  Santiago Del Estero                   2.949
958  2014          1     Tierra Del Fuego                   3.447
959  2014          1              Tucumán                   3.208

[960 rows x 4 columns]

Aqui se presenta la velocidad media de descarga de internet en Mbps para cada provincia, desglosada por año y trimestre, los cuales son valores de tendencia media, para cada provincia desde el 2014 hasta el 2023 en 4 trimestres del año, no se corresponde a porcentajes

Reviso valores nulos y duplicados

In [10]:
df_vel_por_prov.isna().sum()

Año                       0
Trimestre                 0
Provincia                 0
Mbps (Media de bajada)    0
dtype: int64

In [11]:
df_vel_por_prov.duplicated().sum()

np.int64(0)

Continuo observando otros dataframes

In [12]:
df_total_vdm

     Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0   2023          4                 139.040   Oct-Dic 2023
1   2023          3                 129.670  Jul-Sept 2023
2   2023          2                 123.950   Abr-Jun 2023
3   2023          1                 110.500   Ene-Mar 2023
4   2022          4                 106.560   Oct-Dic 2022
5   2022          3                  62.460  Jul-Sept 2022
6   2022          2                  58.440   Abr-Jun 2022
7   2022          1                  55.110   Ene-Mar 2022
8   2021          4                  52.340   Oct-Dic 2021
9   2021          3                  48.460  Jul-Sept 2021
10  2021          2                  45.630   Abr-Jun 2021
11  2021          1                  43.110   Ene-Mar 2021
12  2020          4                  42.360   Oct-Dic 2020
13  2020          3                  40.670  Jul-Sept 2020
14  2020          2                  38.320   Abr-Jun 2020
15  2020          1                  37.520   Ene-Mar 2020
16  2019          4                  28.260   Oct-Dic 2019
17  2019          3                  24.180  Jul-Sept 2019
18  2019          2                  20.330   Abr-Jun 2019
19  2019          1                  17.380   Ene-Mar 2019
20  2018          4                  15.950   Oct-Dic 2018
21  2018          3                  15.360  Jul-Sept 2018
22  2018          2                  13.850   Abr-Jun 2018
23  2018          1                  13.221   Ene-Mar 2018
24  2017          4                  12.008   Oct-Dic 2017
25  2017          3                   8.339  Jul-Sept 2017
26  2017          2                   7.160   Abr-Jun 2017
27  2017          1                   6.624   Ene-Mar 2017
28  2016          4                   6.337   Oct-Dic 2016
29  2016          3                   5.939  Jul-Sept 2016
30  2016          2                   5.424   Abr-Jun 2016
31  2016          1                   5.084   Ene-Mar 2016
32  2015          4                   4.990   Oct-Dic 2015
33  2015          3                   4.789  Jul-Sept 2015
34  2015          2                   4.545   Abr-Jun 2015
35  2015          1                   4.350   Ene-Mar 2015
36  2014          4                   4.157   Oct-Dic 2014
37  2014          3                   3.867  Jul-Sept 2014
38  2014          2                   3.759   Abr-Jun 2014
39  2014          1                   3.617   Ene-Mar 2014

Puedo notar la misma informacion del dataframe anterior pero a nivel nacional, sumando intervalos de cada trimestre.

Borro la columna Trimestre.1

In [13]:
df_total_vdm.drop(columns='Trimestre.1', inplace=True)

Verifico si hay valores nulos o repetidos

In [14]:
df_total_vdm.isna().sum()

Año                       0
Trimestre                 0
Mbps (Media de bajada)    0
dtype: int64

In [15]:
df_total_vdm.duplicated().sum()

np.int64(0)

df acceso x velocidad

In [16]:
df_acc_x_vel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,4,Buenos Aires,26909.000,23962.000,228393.000,239339.000,246144.000,110876.000,4042646.000,93351.000,5011620.000
1,2024,4,Capital Federal,516.000,4544.000,26409.000,48083.000,33925.000,5829.000,1355061.000,0.000,1474367.000
2,2024,4,Catamarca,71.000,209.000,3065.000,3734.000,4423.000,1827.000,61181.000,77.000,74587.000
3,2024,4,Chaco,236.000,477.000,14811.000,10361.000,6247.000,5729.000,105485.000,4040.000,147386.000
4,2024,4,Chubut,111.000,1088.000,44276.000,31402.000,22843.000,20196.000,33665.000,16589.000,170170.000
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,161.000,1625.000,24972.000,1.000,1.000,0.000,0.000,0.000,26760.000
956,2014,1,Santa Fe,8456.000,124468.000,345225.000,20328.000,6845.000,23.000,668.000,0.000,506013.000
957,2014,1,Santiago Del Estero,1234.000,10531.000,22817.000,2422.000,109.000,0.000,0.000,0.000,37113.000
958,2014,1,Tierra Del Fuego,12.000,607.000,30902.000,6.000,0.000,0.000,0.000,0.000,31527.000
959,2014,1,Tucumán,6.000,34672.000,83210.000,11779.000,362.000,3.000,0.000,0.000,130032.000

Puedo ver que este dataframe trata sobre las velocidades de acceso a internet en Mbps por año por trimestre a nivel provincial, desde el 2014 hasta el año 2024. Suponiendo que el trimestre se corresponda con los demas dataframes, y teniendo en cuenta la fecha actual (julio del 2024), deduzco que la informacion correspondiente al año 2024 del trimestre 4 es en realidad del 2023, dado que corresponden a datos que aun no acontocen, estos corresponden desde julio hasta diciembre del año 2024 (y el trimestre 4 del 2023 no se encuentra como se muestra debajo)

In [17]:
filtrado = df_acc_x_vel.iloc[:27]
filtrado

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,4,Buenos Aires,26909.000,23962.000,228393.000,239339.000,246144.000,110876.000,4042646.000,93351.000,5011620.000
1,2024,4,Capital Federal,516.000,4544.000,26409.000,48083.000,33925.000,5829.000,1355061.000,0.000,1474367.000
2,2024,4,Catamarca,71.000,209.000,3065.000,3734.000,4423.000,1827.000,61181.000,77.000,74587.000
3,2024,4,Chaco,236.000,477.000,14811.000,10361.000,6247.000,5729.000,105485.000,4040.000,147386.000
4,2024,4,Chubut,111.000,1088.000,44276.000,31402.000,22843.000,20196.000,33665.000,16589.000,170170.000
5,2024,4,Córdoba,99.000,8404.000,117068.000,91169.000,51126.000,26948.000,767427.000,17061.000,1079302.000
6,2024,4,Corrientes,67.000,2889.000,19949.000,17984.000,8108.000,5087.000,98904.000,6484.000,159472.000
7,2024,4,Entre Ríos,107.000,4408.000,37150.000,54377.000,16673.000,7236.000,164304.000,14382.000,298637.000
8,2024,4,Formosa,85.000,179.000,21856.000,11563.000,4545.000,272.000,23152.000,350.000,62002.000
9,2024,4,Jujuy,58.000,1343.000,15359.000,11724.000,28741.000,272.000,58543.000,1980.000,118020.000
10,2024,4,La Pampa,71.000,1330.000,46716.000,17278.000,14556.000,5511.000,34254.000,1610.000,121326.000
11,2024,4,La Rioja,18.000,435.000,1483.000,1786.000,24838.000,4709.000,54452.000,0.000,87721.000
12,2024,4,Mendoza,104.000,2945.000,35976.000,20902.000,30051.000,7781.000,196093.000,5499.000,299351.000
13,2024,4,Misiones,51.000,3248.000,32287.000,21522.000,11338.000,3850.000,119112.000,8925.000,200333.000
14,2024,4,Neuquén,136.000,998.000,35431.000,13485.000,10435.000,2933.000,81033.000,20176.000,164627.000
15,2024,4,Río Negro,112.000,1039.000,27223.000,16608.000,18343.000,24693.000,64813.000,15586.000,168417.000
16,2024,4,Salta,114.000,1154.000,28069.000,65938.000,3735.000,66.000,98971.000,6685.000,204732.000
17,2024,4,San Juan,24.000,2021.000,21157.000,12882.000,12489.000,1343.000,30645.000,22649.000,103210.000
18,2024,4,San Luis,60.000,628.000,11317.000,23754.000,8952.000,75907.000,33150.000,917.000,154685.000
19,2024,4,Santa Cruz,50.000,500.000,7764.000,10783.000,11558.000,3628.000,19314.000,33434.000,87031.000
20,2024,4,Santa Fe,468.000,6845.000,82343.000,164019.000,59636.000,22135.000,557629.000,16426.000,909501.000
21,2024,4,Santiago Del Estero,180.000,1173.000,13018.000,53980.000,24514.000,5794.000,23641.000,930.000,123230.000
22,2024,4,Tierra Del Fuego,22.000,834.000,10283.000,12618.000,19536.000,6085.000,4342.000,7879.000,61599.000
23,2024,4,Tucumán,39.000,1089.000,18850.000,22817.000,24476.000,1583.000,196919.000,562.000,266335.000
24,2023,3,Buenos Aires,27440.000,24820.000,242010.000,241310.000,246076.000,112159.000,3951660.000,122762.000,4968237.000
25,2023,3,Capital Federal,516.000,4690.000,28089.000,50899.000,34061.000,6020.000,1343709.000,0.000,1467984.000
26,2023,3,Catamarca,71.000,224.000,3194.000,3893.000,4634.000,2124.000,60123.000,92.000,74355.000

Corrijo el error

In [18]:
df_acc_x_vel['Año'] = df_acc_x_vel['Año'].replace(2024, 2023)

In [19]:
df_acc_x_vel.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2023,4,Buenos Aires,26909.000,23962.000,228393.000,239339.000,246144.000,110876.000,4042646.000,93351.000,5011620.000
1,2023,4,Capital Federal,516.000,4544.000,26409.000,48083.000,33925.000,5829.000,1355061.000,0.000,1474367.000
2,2023,4,Catamarca,71.000,209.000,3065.000,3734.000,4423.000,1827.000,61181.000,77.000,74587.000
3,2023,4,Chaco,236.000,477.000,14811.000,10361.000,6247.000,5729.000,105485.000,4040.000,147386.000
4,2023,4,Chubut,111.000,1088.000,44276.000,31402.000,22843.000,20196.000,33665.000,16589.000,170170.000

Esta informacion se corresponde con el dataframe df_velocidad_sin_rangos y de manera mas clara, analizo los valores nulos para saber si este df me sirve mejor y asi elegir mi mejor opcion


Primero cambio el nombre de las columnas y luego lo analizo

In [20]:
df_acc_x_vel.rename(columns = {'HASTA 512 kbps':'512kbps','+ 512 Kbps - 1 Mbps':'512kbps-1mbps','+ 1 Mbps - 6 Mbps':'1mbps-6mbps','+ 6 Mbps - 10 Mbps':'6mbps-10mbps','+ 10 Mbps - 20 Mbps':'10mbps-20mbps','+ 20 Mbps - 30 Mbps':'20mbps-30mbps','+ 30 Mbps':'30mbps'}, inplace = True)
df_acc_x_vel

,Año,Trimestre,Provincia,512kbps,512kbps-1mbps,1mbps-6mbps,6mbps-10mbps,10mbps-20mbps,20mbps-30mbps,30mbps,OTROS,Total
0,2023,4,Buenos Aires,26909.000,23962.000,228393.000,239339.000,246144.000,110876.000,4042646.000,93351.000,5011620.000
1,2023,4,Capital Federal,516.000,4544.000,26409.000,48083.000,33925.000,5829.000,1355061.000,0.000,1474367.000
2,2023,4,Catamarca,71.000,209.000,3065.000,3734.000,4423.000,1827.000,61181.000,77.000,74587.000
3,2023,4,Chaco,236.000,477.000,14811.000,10361.000,6247.000,5729.000,105485.000,4040.000,147386.000
4,2023,4,Chubut,111.000,1088.000,44276.000,31402.000,22843.000,20196.000,33665.000,16589.000,170170.000
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,161.000,1625.000,24972.000,1.000,1.000,0.000,0.000,0.000,26760.000
956,2014,1,Santa Fe,8456.000,124468.000,345225.000,20328.000,6845.000,23.000,668.000,0.000,506013.000
957,2014,1,Santiago Del Estero,1234.000,10531.000,22817.000,2422.000,109.000,0.000,0.000,0.000,37113.000
958,2014,1,Tierra Del Fuego,12.000,607.000,30902.000,6.000,0.000,0.000,0.000,0.000,31527.000
959,2014,1,Tucumán,6.000,34672.000,83210.000,11779.000,362.000,3.000,0.000,0.000,130032.000

In [21]:
df_acc_x_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Año            960 non-null    int64
 1   Trimestre      960 non-null    int64
 2   Provincia      960 non-null    object
 3   512kbps        960 non-null    float64
 4   512kbps-1mbps  960 non-null    float64
 5   1mbps-6mbps    960 non-null    float64
 6   6mbps-10mbps   960 non-null    float64
 7   10mbps-20mbps  960 non-null    float64
 8   20mbps-30mbps  960 non-null    float64
 9   30mbps         960 non-null    float64
 10  OTROS          954 non-null    float64
 11  Total          960 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 90.1+ KB

Se observan valores nulos en OTROS, reemplazo por 0

In [22]:
df_acc_x_vel.fillna(0, inplace=True)

Finalmente opto por trabajar con este dataframe 'df_acc_x_vel' y con 'df_velocidad_x_prov'. Por lo que los uno para trabajarlos

In [23]:
df_accesos_velocidad = pd.merge(df_acc_x_vel,df_vel_por_prov[["Año","Trimestre","Mbps (Media de bajada)","Provincia"]], on=["Año","Trimestre","Provincia"], how="left")
df_accesos_velocidad

,Año,Trimestre,Provincia,512kbps,512kbps-1mbps,1mbps-6mbps,6mbps-10mbps,10mbps-20mbps,20mbps-30mbps,30mbps,OTROS,Total,Mbps (Media de bajada)
0,2023,4,Buenos Aires,26909.000,23962.000,228393.000,239339.000,246144.000,110876.000,4042646.000,93351.000,5011620.000,158.490
1,2023,4,Capital Federal,516.000,4544.000,26409.000,48083.000,33925.000,5829.000,1355061.000,0.000,1474367.000,234.440
2,2023,4,Catamarca,71.000,209.000,3065.000,3734.000,4423.000,1827.000,61181.000,77.000,74587.000,89.400
3,2023,4,Chaco,236.000,477.000,14811.000,10361.000,6247.000,5729.000,105485.000,4040.000,147386.000,107.140
4,2023,4,Chubut,111.000,1088.000,44276.000,31402.000,22843.000,20196.000,33665.000,16589.000,170170.000,20.290
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,161.000,1625.000,24972.000,1.000,1.000,0.000,0.000,0.000,26760.000,3.316
956,2014,1,Santa Fe,8456.000,124468.000,345225.000,20328.000,6845.000,23.000,668.000,0.000,506013.000,3.147
957,2014,1,Santiago Del Estero,1234.000,10531.000,22817.000,2422.000,109.000,0.000,0.000,0.000,37113.000,2.949
958,2014,1,Tierra Del Fuego,12.000,607.000,30902.000,6.000,0.000,0.000,0.000,0.000,31527.000,3.447
959,2014,1,Tucumán,6.000,34672.000,83210.000,11779.000,362.000,3.000,0.000,0.000,130032.000,3.208

Anlizo nulos, posibles errores y demas informacion relevante sobre el dataframe

In [24]:
df_accesos_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     960 non-null    int64
 1   Trimestre               960 non-null    int64
 2   Provincia               960 non-null    object
 3   512kbps                 960 non-null    float64
 4   512kbps-1mbps           960 non-null    float64
 5   1mbps-6mbps             960 non-null    float64
 6   6mbps-10mbps            960 non-null    float64
 7   10mbps-20mbps           960 non-null    float64
 8   20mbps-30mbps           960 non-null    float64
 9   30mbps                  960 non-null    float64
 10  OTROS                   960 non-null    float64
 11  Total                   960 non-null    float64
 12  Mbps (Media de bajada)  960 non-null    float64
dtypes: float64(10), int64(2), object(1)
memory usage: 97.6+ KB

Analizo el ultimo df de velocidad

In [25]:
df_total_acc_x_vel

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
1,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
2,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
3,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
4,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
5,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
6,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
7,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
8,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
9,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541
10,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084
11,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972
12,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562
13,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199
14,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056
15,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426
16,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181
17,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684
18,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181
19,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,8648135
20,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,8473655
21,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,8347035
22,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,8110444
23,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,8037053
24,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,7870222
25,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,7553629
26,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,7323717
27,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,7199018
28,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,7144696
29,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,7141925
30,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,7172464
31,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,6835285
32,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,6916766
33,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,6852988
34,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,6786105
35,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,6623212
36,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485
37,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671
38,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745
39,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846

Se observa un error en la fila 0, con datos de 4° trimestre des 2024, se deduce que corresponde al año 2023, lo corrijo

In [26]:
df_total_acc_x_vel.loc[0, 'Año'] = 2023

In [27]:
df_total_acc_x_vel

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
1,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
2,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
3,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
4,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
5,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
6,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
7,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
8,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
9,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541
10,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084
11,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972
12,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562
13,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199
14,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056
15,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426
16,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181
17,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684
18,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181
19,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,8648135
20,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,8473655
21,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,8347035
22,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,8110444
23,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,8037053
24,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,7870222
25,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,7553629
26,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,7323717
27,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,7199018
28,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,7144696
29,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,7141925
30,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,7172464
31,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,6835285
32,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,6916766
33,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,6852988
34,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,6786105
35,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,6623212
36,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485
37,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671
38,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745
39,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846

Observo que abarca datos a nivel nacional sobre velocidades por lo que combino con dataframe 'total_vdm'

Primero cambio el nombre de las columnas y luego hago un merge

In [28]:
df_total_acc_x_vel.rename(columns={ 'Hasta 512 kbps': '512kbps','Entre 512 Kbps y 1 Mbps': '512kbps-1mbps','Entre 1 Mbps y 6 Mbps': '1mbps-6mbps','Entre 6 Mbps y 10 Mbps': '6mbps-10mbps',   'Entre 10 Mbps y 20 Mbps': '10mbps-20mbps', 'Entre 20 Mbps y 30 Mbps': '20mbps-30mbps','Más de 30 Mbps': '30mbps'
}, inplace=True)

In [29]:
df_accesos_velocidad_total = pd.merge(df_total_acc_x_vel,df_total_vdm[["Año","Trimestre","Mbps (Media de bajada)"]], on=["Año","Trimestre"], how="left")
df_accesos_velocidad_total

,Año,Trimestre,512kbps,512kbps-1mbps,1mbps-6mbps,6mbps-10mbps,10mbps-20mbps,20mbps-30mbps,30mbps,OTROS,Total,Mbps (Media de bajada)
0,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661,139.040
1,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908,129.670
2,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897,123.950
3,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895,110.500
4,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114,106.560
5,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128,62.460
6,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684,58.440
7,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009,55.110
8,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794,52.340
9,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541,48.460
10,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084,45.630
11,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972,43.110
12,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562,42.360
13,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199,40.670
14,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056,38.320
15,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426,37.520
16,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181,28.260
17,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684,24.180
18,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181,20.330
19,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,8648135,17.380
20,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,8473655,15.950
21,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,8347035,15.360
22,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,8110444,13.850
23,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,8037053,13.221
24,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,7870222,12.008
25,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,7553629,8.339
26,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,7323717,7.160
27,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,7199018,6.624
28,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,7144696,6.337
29,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,7141925,5.939
30,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,7172464,5.424
31,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,6835285,5.084
32,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,6916766,4.990
33,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,6852988,4.789
34,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,6786105,4.545
35,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,6623212,4.350
36,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485,4.157
37,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671,3.867
38,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745,3.759
39,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846,3.617

Observo una falta dedatos en OTROS desde el 2014 al 2017

In [30]:
df_accesos_velocidad_total.info

<bound method DataFrame.info of      Año  Trimestre  512kbps  512kbps-1mbps  1mbps-6mbps  6mbps-10mbps  \
0   2023          4    29708          71742       900253        978108
1   2023          3    30274          80609       945608        998725
2   2023          2    30827          79405       963510       1028250
3   2023          1    31437          82048      1001553       1060321
4   2022          4    31981          85668      1075272       1109421
5   2022          3    33013          96727      1161370       1151906
6   2022          2    33667          99498      1193090       1197030
7   2022          1    34890         104840      1263273       1209148
8   2021          4    41262          28521      1413208       1245333
9   2021          3    40174          41437      2550229       1095772
10  2021          2    40172          42024      2531271       1080279
11  2021          1    39487          41674      2593477       1072722
12  2020          4    39510          42185      2622638       1073875
13  2020          3    41038          44005      2637984       1040017
14  2020          2    41038          48690      2651502       1053107
15  2020          1    42550          56170      2649819       1022014
16  2019          4    38272          28980      2792307       1046128
17  2019          3   241713          80599      3309137       1026859
18  2019          2   202790          95980      3444458        871142
19  2019          1   166573         195706      3428759        882836
20  2018          4   138740         201196      3337982        882388
21  2018          3     5675         220589      3401277        859413
22  2018          2     5972         219467      3316868        979416
23  2018          1     7309         215406      3272724        976956
24  2017          4    15041         221474      3773159       1005545
25  2017          3    19022         217997      4062226       1062810
26  2017          2    22366         222766      4416065        990281
27  2017          1    20653         230159      4584534        975027
28  2016          4    20724         233398      4673339        971094
29  2016          3    20104         294413      4816081        936533
30  2016          2    44008         384221      5058481        796998
31  2016          1    30428         404810      4944358        762999
32  2015          4    34243         427394      5049640        726740
33  2015          3    35030         455777      5087802        701187
34  2015          2    40723         500175      5138431        645440
35  2015          1    41158         516919      5121423        571620
36  2014          4    44075         554749      5084556        496251
37  2014          3    37430         608018      5153437        373372
38  2014          2    41064         656408      5149574        341689
39  2014          1    52684         687619      5130294        289182

    10mbps-20mbps  20mbps-30mbps   30mbps   OTROS     Total  \
0          697232         350290  8224736  295592  11547661
1          720084         350918  8003269  277421  11406908
2          734125         364730  7775095  275955  11251897
3          729194         357769  7564819  414754  11241895
4          765015         335573  7410902  394282  11208114
5          823505         479822  6995750  349035  11091128
6          856562         485321  6741922  351594  10958684
7          967508         509830  6336187  198333  10624009
8          976539         558358  6032322  194251  10489794
9          710122         536364  4948174  163269  10085541
10         693277         647401  4661291  167369   9863084
11         737930         595920  4379965  186797   9647972
12         786595         582420  4239237  185102   9571562
13         799350         538567  4053461  201777   9356199
14         807775         523437  3711499  194008   9031056
15         814470         532309  3500882  194212   8812426
16         851619        1004083  2830746  201046   8793181
17         806466        1141545  2314898  243467   9164684
18        1169632        1250366  1677830  247983   8960181
19        1464748        1244215  1138728  126570   8648135
20        1472634        1688748   599579  152388   8473655
21        1607137        1571692   524777  156475   8347035
22        1905839        1000036   444391  238455   8110444
23        2068087         862010   397977  236584   8037053
24        1730353         631946   337559  155145   7870222
25        1592304         353480   245790       0   7553629
26        1342000         231604    98635       0   7323717
27        1129987         210668    47990       0   7199018
28        1038029         169522    38590       0   7144696
29         919208         124564    31022       0   7141925
30         785759          73977    29020       0   7172464
31         641646          27664    23380       0   6835285
32         639011          17568    22170       0   6916766
33         539414          13101    20677       0   6852988
34         432762          10045    18529       0   6786105
35         348102           7643    16347       0   6623212
36         276254           4371    15229       0   6475485
37         182483            507    12424       0   6367671
38         147273            478    12259       0   6348745
39         101127            345    11595       0   6272846

    Mbps (Media de bajada)
0                  139.040
1                  129.670
2                  123.950
3                  110.500
4                  106.560
5                   62.460
6                   58.440
7                   55.110
8                   52.340
9                   48.460
10                  45.630
11                  43.110
12                  42.360
13                  40.670
14                  38.320
15                  37.520
16                  28.260
17                  24.180
18                  20.330
19                  17.380
20                  15.950
21                  15.360
22                  13.850
23                  13.221
24                  12.008
25                   8.339
26                   7.160
27                   6.624
28                   6.337
29                   5.939
30                   5.424
31                   5.084
32                   4.990
33                   4.789
34                   4.545
35                   4.350
36                   4.157
37                   3.867
38                   3.759
39                   3.617  >

In [31]:
df_accesos_velocidad_total.describe()

,Año,Trimestre,512kbps,512kbps-1mbps,1mbps-6mbps,6mbps-10mbps,10mbps-20mbps,20mbps-30mbps,30mbps,OTROS,Total,Mbps (Media de bajada)
count,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.000
mean,2018.500,2.500,47670.625,222986.575,3292524.225,914698.350,895278.925,484730.175,2637241.325,145046.600,8640176.800,34.341
std,2.909,1.132,49981.987,194006.387,1497346.008,235112.959,460276.404,443425.917,2959224.140,129164.653,1696189.070,38.280
min,2014.000,1.000,5675.000,28521.000,900253.000,289182.000,101127.000,345.000,11595.000,0.000,6272846.000,3.617
25%,2016.000,1.750,30132.500,77489.250,2545489.500,843809.250,696243.250,111917.250,30521.500,0.000,7144003.250,5.810
50%,2018.500,2.500,36230.000,198451.000,3327425.000,984848.500,802908.000,422276.000,869153.500,165319.000,8560895.000,16.665
75%,2021.000,3.250,41087.500,316865.000,4848150.250,1060943.250,1061018.500,604926.500,4733011.750,237051.750,9918698.250,46.338
max,2023.000,4.000,241713.000,687619.000,5153437.000,1245333.000,2068087.000,1688748.000,8224736.000,414754.000,11547661.000,139.040

## decido que trabajare con estos datos por lo que guardo en un csv

# # ACCESOS A TECNOLOGIAS

Tengo los siguientes datos en las hojas:

5) Accesos_tecnologia_localidad: Incluye los accesos a internet por tecnología en diferentes localidades.
6) Totales Accesos Por Tecnología: Muestra los totales de accesos a internet desglosados por cada tipo de tecnología.
7) Accesos Por Tecnología: Detalla los accesos a internet por tecnología en diferentes provincias.
8) Dial-BAf: Presenta los datos de accesos dial-up y Banda Ancha Fija.
9) Totales Dial-BAf: Muestra los totales de accesos dial-up y Banda Ancha Fija.

In [32]:
df_acc_tec_localidad = crear_df('Accesos_tecnologia_localidad')
df_acc_x_tecnología = crear_df('Accesos Por Tecnología')
df_total_acc_x_tec = crear_df('Totales Accesos Por Tecnología')

Comienzo a analizar los df

In [33]:
df_acc_tec_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,756,4600,0,3,0,742,0,726,6827
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,496,16,0,0,185,1479
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,0,0,7242,0,0,0,0,7242
3072,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,0,0,0,0,0,0,424,424
3073,TUCUMAN,Trancas,Villa de Trancas,90112030,102,0,0,0,33,0,0,71,206
3074,TUCUMAN,Yerba Buena,Villa Carmela,90119020,831,0,0,0,1,0,0,79,911
3075,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,39,0,17592,33,0,0,1,17794

Este dataframe tiene informacion a cerca de las diferentes tecnologias y su acceso medido por localidades

In [34]:
df_acc_tec_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3076 non-null   object
 1   Partido        3076 non-null   object
 2   Localidad      3076 non-null   object
 3   Link Indec     3076 non-null   object
 4   ADSL           3076 non-null   int64
 5   CABLEMODEM     3076 non-null   int64
 6   DIAL UP        3076 non-null   int64
 7   FIBRA OPTICA   3076 non-null   int64
 8   OTROS          3076 non-null   int64
 9   SATELITAL      3076 non-null   int64
 10  WIMAX          3076 non-null   int64
 11  WIRELESS       3076 non-null   int64
 12  Total general  3076 non-null   int64
dtypes: int64(9), object(4)
memory usage: 312.5+ KB

continuo analizando

In [35]:
df_acc_x_tecnología

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,Buenos Aires,223391.000,2797700.000,1784593.000,137993.000,67943.000,5011620.000
1,2023,4,Capital Federal,58700.000,1198835.000,182520.000,4492.000,29820.000,1474367.000
2,2023,4,Catamarca,6669.000,11016.000,55437.000,1384.000,81.000,74587.000
3,2023,4,Chaco,14000.000,60277.000,62301.000,8404.000,2404.000,147386.000
4,2023,4,Chubut,26306.000,77217.000,26174.000,30543.000,9930.000,170170.000
...,...,...,...,...,...,...,...,...,...
957,2014,1,Santiago Del Estero,32567.000,3598.000,19.000,915.000,34.000,37133.000
958,2014,1,Tierra Del Fuego,21618.000,2837.000,648.000,1.000,2934.000,28038.000
959,2014,1,Tucumán,129717.000,83.000,121.000,13.000,98.000,130032.000
960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
961,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Podemos notar un aviso: 'Los datos provinciales no coinciden a nivel nacional, ya que se incorporó información que no contiene apertuta a nivel geográfico.'

In [36]:
df_acc_x_tecnología.iloc[961]

Año                                                             *
Trimestre       Los datos provinciales no coinciden a nivel na...
Provincia                                                     NaN
ADSL                                                          NaN
Cablemodem                                                    NaN
Fibra óptica                                                  NaN
Wireless                                                      NaN
Otros                                                         NaN
Total                                                         NaN
Name: 961, dtype: object

Borro columnas 960 y 961

In [37]:
df_acc_x_tecnología.drop(960, inplace=True)
df_acc_x_tecnología.drop(961, inplace=True)

Busco los nulos

In [38]:
df_acc_x_tecnología.isna().sum()

Año             0
Trimestre       0
Provincia       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
dtype: int64

In [39]:
df_acc_x_tecnología.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           960 non-null    object
 1   Trimestre     960 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 75.0+ KB

Los datos estan normalizados, busco en las variables categoricas

In [40]:
print(df_acc_x_tecnología["Año"].value_counts() )
print(df_acc_x_tecnología["Trimestre"].value_counts())
print(df_acc_x_tecnología["Provincia"].value_counts())

Año
2023      96
2022      96
2021      96
2020      96
2018      96
2016      96
2017      96
2015      96
2014      96
2019 *    72
2019      24
Name: count, dtype: int64
Trimestre
4      240
3      216
2      216
1      216
3 *     24
2 *     24
1 *     24
Name: count, dtype: int64
Provincia
Buenos Aires           40
Capital Federal        40
Catamarca              40
Chaco                  40
Chubut                 40
Córdoba                40
Corrientes             40
Entre Ríos             40
Formosa                40
Jujuy                  40
La Pampa               40
La Rioja               40
Mendoza                40
Misiones               40
Neuquén                40
Río Negro              40
Salta                  40
San Juan               40
San Luis               40
Santa Cruz             40
Santa Fe               40
Santiago Del Estero    40
Tierra Del Fuego       40
Tucumán                40
Name: count, dtype: int64

Encuentro valores con ** en 2019 y trimestres

In [41]:
df_acc_x_tecnología[df_acc_x_tecnología['Año'] == '2019 *']

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
408,2019 *,3 *,Buenos Aires,1277249.000,2144956.000,425386.000,85572.000,27070.000,3960233.000
409,2019 *,3 *,Capital Federal,300288.000,1080973.000,24900.000,3895.000,31155.000,1441211.000
410,2019 *,3 *,Catamarca,24349.000,5543.000,13.000,244.000,2251.000,32400.000
411,2019 *,3 *,Chaco,50416.000,49156.000,8063.000,5224.000,1592.000,114451.000
412,2019 *,3 *,Chubut,37298.000,27090.000,1917.000,15149.000,7551.000,89005.000
...,...,...,...,...,...,...,...,...,...
475,2019 *,1 *,Santa Cruz,10659.000,4615.000,382.000,6514.000,2735.000,24905.000
476,2019 *,1 *,Santa Fe,340038.000,340344.000,15621.000,23215.000,17860.000,737078.000
477,2019 *,1 *,Santiago Del Estero,25337.000,61547.000,23.000,2847.000,99.000,89853.000
478,2019 *,1 *,Tierra Del Fuego,19789.000,23549.000,1623.000,0.000,1486.000,46447.000
479,2019 *,1 *,Tucumán,159215.000,11670.000,118.000,678.000,321.000,172002.000

In [42]:
df_acc_x_tecnología['Trimestre'].value_counts()

Trimestre
4      240
3      216
2      216
1      216
3 *     24
2 *     24
1 *     24
Name: count, dtype: int64

Reemplazo los **

In [43]:
df_acc_x_tecnología.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           960 non-null    object
 1   Trimestre     960 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 75.0+ KB

In [44]:
df_acc_x_tecnología['Trimestre'] = df_acc_x_tecnología['Trimestre'].astype(str).apply(lambda x: x.replace(' *', ''))
df_acc_x_tecnología['Año'] = df_acc_x_tecnología['Año'].astype(str).apply(lambda x: x.replace(' *', ''))

In [45]:
df_acc_x_tecnología

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,Buenos Aires,223391.000,2797700.000,1784593.000,137993.000,67943.000,5011620.000
1,2023,4,Capital Federal,58700.000,1198835.000,182520.000,4492.000,29820.000,1474367.000
2,2023,4,Catamarca,6669.000,11016.000,55437.000,1384.000,81.000,74587.000
3,2023,4,Chaco,14000.000,60277.000,62301.000,8404.000,2404.000,147386.000
4,2023,4,Chubut,26306.000,77217.000,26174.000,30543.000,9930.000,170170.000
...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,18927.000,100.000,381.000,4092.000,3264.000,26764.000
956,2014,1,Santa Fe,322662.000,174296.000,3059.000,5951.000,644.000,506612.000
957,2014,1,Santiago Del Estero,32567.000,3598.000,19.000,915.000,34.000,37133.000
958,2014,1,Tierra Del Fuego,21618.000,2837.000,648.000,1.000,2934.000,28038.000
959,2014,1,Tucumán,129717.000,83.000,121.000,13.000,98.000,130032.000

In [46]:
df_acc_x_tecnología.isna().sum()

Año             0
Trimestre       0
Provincia       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
dtype: int64

 ## Al encontrar datoos de tecnologias x provincias y del acceso a internet decido unir estos datasets y guardar en un csv

In [47]:
df_total_acc_x_tec

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
1,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
2,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
3,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
4,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
5,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
6,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
7,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
8,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
9,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021
10,2021,2,2018587,5641731,1472246,476968,253552,9863084,Abr-Jun 2021
11,2021,1,2175211,5424782,1362976,434548,250455,9647972,Ene-Mar 2021
12,2020,4,2213949,5371824,1311199,421554,253036,9571562,Oct-Dic 2020
13,2020,3,2263889,5259351,1170879,413259,248821,9356199,Jul-Sept 2020
14,2020,2,2295533,5005115,1106725,376667,247016,9031056,Abr-Jun 2020
15,2020,1,2299457,4903674,1047817,352333,209145,8812426,Ene-Mar 2020
16,2019,4,2414575,4883869,941295,340144,213298,8793181,Oct-Dic 2019
17,2019,3,2909805,4800091,852221,338241,264326,9164684,Jul-Sept 2019
18,2019,2,2990457,4635575,760794,308027,265328,8960181,Abr-Jun 2019
19,2019,1,3132789,4435439,637099,276419,166389,8648135,Ene-Mar 2019
20,2018,4,3329027,4313831,388013,264299,178485,8473655,Oct-Dic 2018
21,2018,3,3521447,4238171,247366,246181,93870,8347035,Jul-Sept 2018
22,2018,2,3557216,4038141,226285,194267,94535,8110444,Abr-Jun 2018
23,2018,1,3574294,3981129,217460,165300,98870,8037053,Ene-Mar 2018
24,2017,4,3584311,3818157,211425,155775,100554,7870222,Oct-Dic 2017
25,2017,3,3622575,3670221,193964,106443,131740,7724943,Jul-Sept 2017
26,2017,2,3723518,3383434,180777,85813,56122,7429664,Abr-Jun 2017
27,2017,1,3708898,3276251,180146,84813,55746,7305854,Ene-Mar 2017
28,2016,4,3722794,3210602,178070,85119,55088,7251673,Oct-Dic 2016
29,2016,3,3776442,3124855,169898,81455,54300,7206950,Jul-Sept 2016
30,2016,2,3782085,3035272,167788,85452,59482,7130079,Abr-Jun 2016
31,2016,1,3792493,2806359,164371,85370,58763,6907356,Ene-Mar 2016
32,2015,4,3803024,2898226,139187,85726,58668,6984831,Oct-Dic 2015
33,2015,3,3788696,2840203,162663,84530,58976,6935068,Jul-Sept 2015
34,2015,2,3767821,2756294,150839,82077,59157,6816188,Abr-Jun 2015
35,2015,1,3756153,2668248,168188,79098,66045,6737732,Ene-Mar 2015
36,2014,4,3764038,2536219,149682,76984,71573,6598496,Oct-Dic 2014
37,2014,3,3714764,2569868,155494,85096,70049,6595271,Jul-Sept 2014
38,2014,2,3708882,2461670,149363,72405,72148,6464468,Abr-Jun 2014
39,2014,1,3697066,2407330,150323,70749,72930,6398398,Ene-Mar 2014

Aqui encontrados datos a nivel nacional sobre el acceso a las diferentes tecnologias

In [48]:
df_total_acc_x_tec.isna().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

In [49]:
df_total_acc_x_tec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           40 non-null     int64
 1   Trimestre     40 non-null     int64
 2   ADSL          40 non-null     int64
 3   Cablemodem    40 non-null     int64
 4   Fibra óptica  40 non-null     int64
 5   Wireless      40 non-null     int64
 6   Otros         40 non-null     int64
 7   Total         40 non-null     int64
 8   Periodo       40 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.9+ KB

Datos normalizados

Borro la columna Periodo

In [50]:
df_total_acc_x_tec.drop("Periodo",axis=1)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,836390,6022532,3908183,585760,194796,11547661
1,2023,3,897895,6018832,3708718,581436,200027,11406908
2,2023,2,1006509,5997149,3463988,581823,202428,11251897
3,2023,1,1204417,6002582,3243411,576647,214838,11241895
4,2022,4,1315373,6037457,3060575,572969,221740,11208114
5,2022,3,1395277,6031970,2871541,557110,235230,11091128
6,2022,2,1468333,5979214,2723285,556243,231609,10958684
7,2022,1,1533240,6073426,2219533,545814,251996,10624009
8,2021,4,1657615,5984240,2072236,523107,252596,10489794
9,2021,3,1950631,5826257,1566048,492415,250190,10085541
10,2021,2,2018587,5641731,1472246,476968,253552,9863084
11,2021,1,2175211,5424782,1362976,434548,250455,9647972
12,2020,4,2213949,5371824,1311199,421554,253036,9571562
13,2020,3,2263889,5259351,1170879,413259,248821,9356199
14,2020,2,2295533,5005115,1106725,376667,247016,9031056
15,2020,1,2299457,4903674,1047817,352333,209145,8812426
16,2019,4,2414575,4883869,941295,340144,213298,8793181
17,2019,3,2909805,4800091,852221,338241,264326,9164684
18,2019,2,2990457,4635575,760794,308027,265328,8960181
19,2019,1,3132789,4435439,637099,276419,166389,8648135
20,2018,4,3329027,4313831,388013,264299,178485,8473655
21,2018,3,3521447,4238171,247366,246181,93870,8347035
22,2018,2,3557216,4038141,226285,194267,94535,8110444
23,2018,1,3574294,3981129,217460,165300,98870,8037053
24,2017,4,3584311,3818157,211425,155775,100554,7870222
25,2017,3,3622575,3670221,193964,106443,131740,7724943
26,2017,2,3723518,3383434,180777,85813,56122,7429664
27,2017,1,3708898,3276251,180146,84813,55746,7305854
28,2016,4,3722794,3210602,178070,85119,55088,7251673
29,2016,3,3776442,3124855,169898,81455,54300,7206950
30,2016,2,3782085,3035272,167788,85452,59482,7130079
31,2016,1,3792493,2806359,164371,85370,58763,6907356
32,2015,4,3803024,2898226,139187,85726,58668,6984831
33,2015,3,3788696,2840203,162663,84530,58976,6935068
34,2015,2,3767821,2756294,150839,82077,59157,6816188
35,2015,1,3756153,2668248,168188,79098,66045,6737732
36,2014,4,3764038,2536219,149682,76984,71573,6598496
37,2014,3,3714764,2569868,155494,85096,70049,6595271
38,2014,2,3708882,2461670,149363,72405,72148,6464468
39,2014,1,3697066,2407330,150323,70749,72930,6398398

## Dial baf y Dial Up
8) Dial-BAf: Presenta los datos de accesos dial-up y Banda Ancha Fija.
9) Totales Dial-BAf: Muestra los totales de accesos dial-up y Banda Ancha Fija.


Creo los dataframes

In [51]:
df_dialBAF = crear_df('Dial-BAf')
df_totales_dialBAF =crear_df ('Totales Dial-BAf')

In [52]:
df_dialBAF

      Año  Trimestre            Provincia  Banda ancha fija  Dial up    Total
0    2023          4         Buenos Aires           5005720 5900.000  5011620
1    2023          4      Capital Federal           1472317 2050.000  1474367
2    2023          4            Catamarca             74586    1.000    74587
3    2023          4                Chaco            147381    5.000   147386
4    2023          4               Chubut            169313  857.000   170170
..    ...        ...                  ...               ...      ...      ...
955  2014          1           Santa Cruz             26304  460.000    26764
956  2014          1             Santa Fe            506000  612.000   506612
957  2014          1  Santiago Del Estero             37124    9.000    37133
958  2014          1     Tierra Del Fuego             27272  766.000    28038
959  2014          1              Tucumán            129944   88.000   130032

[960 rows x 6 columns]

In [53]:
df_dialBAF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               960 non-null    int64
 1   Trimestre         960 non-null    int64
 2   Provincia         960 non-null    object
 3   Banda ancha fija  960 non-null    int64
 4   Dial up           958 non-null    float64
 5   Total             960 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 45.1+ KB

Busco valores nulos y reemplazo por 0Busco valores nulos y reemplazo por 0

In [54]:
df_dialBAF.isnull().sum()

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
Total               0
dtype: int64

In [55]:
df_dialBAF['Dial up'].fillna(0, inplace=True)

C:\Users\ezequ\AppData\Local\Temp\ipykernel_7728\1853203729.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_dialBAF['Dial up'].fillna(0, inplace=True)

Busco valores duplicados

In [56]:
df_dialBAF.duplicated().sum()

np.int64(0)

In [57]:
df_totales_dialBAF

     Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0   2023          4          11535868    11793  11547661   Oct-Dic 2023
1   2023          3          11395115    11793  11406908  Jul-Sept 2023
2   2023          2          11239781    12116  11251897   Abr-Jun 2023
3   2023          1          11229459    12436  11241895   Ene-Mar 2023
4   2022          4          11195668    12446  11208114   Oct-Dic 2022
5   2022          3          11078691    12437  11091128  Jul-Sept 2022
6   2022          2          10946248    12436  10958684   Abr-Jun 2022
7   2022          1          10611390    12619  10624009   Ene-Mar 2022
8   2021          4          10476933    12861  10489794   Oct-Dic 2021
9   2021          3          10075184    10357  10085541  Jul-Sept 2021
10  2021          2           9852702    10382   9863084   Abr-Jun 2021
11  2021          1           9637956    10016   9647972   Ene-Mar 2021
12  2020          4           9561546    10016   9571562   Oct-Dic 2020
13  2020          3           9346183    10016   9356199  Jul-Sept 2020
14  2020          2           9021040    10016   9031056   Abr-Jun 2020
15  2020          1           8802435     9991   8812426   Ene-Mar 2020
16  2019          4           8783053    10128   8793181   Oct-Dic 2019
17  2019          3           9142891    21793   9164684  Jul-Sept 2019
18  2019          2           8938427    21754   8960181   Abr-Jun 2019
19  2019          1           8626323    21812   8648135   Ene-Mar 2019
20  2018          4           8451841    21814   8473655   Oct-Dic 2018
21  2018          3           8320223    26812   8347035  Jul-Sept 2018
22  2018          2           8083533    26911   8110444   Abr-Jun 2018
23  2018          1           8009981    27072   8037053   Ene-Mar 2018
24  2017          4           7842778    27444   7870222   Oct-Dic 2017
25  2017          3           7696594    28349   7724943  Jul-Sept 2017
26  2017          2           7401134    28530   7429664   Abr-Jun 2017
27  2017          1           7277314    28540   7305854   Ene-Mar 2017
28  2016          4           7223128    28545   7251673   Oct-Dic 2016
29  2016          3           7178340    28610   7206950  Jul-Sept 2016
30  2016          2           7097604    32475   7130079   Abr-Jun 2016
31  2016          1           6874704    32652   6907356   Ene-Mar 2016
32  2015          4           6952289    32542   6984831   Oct-Dic 2015
33  2015          3           6902267    32801   6935068  Jul-Sept 2015
34  2015          2           6783279    32909   6816188   Abr-Jun 2015
35  2015          1           6699714    38018   6737732   Ene-Mar 2015
36  2014          4           6559172    39324   6598496   Oct-Dic 2014
37  2014          3           6559264    36007   6595271  Jul-Sept 2014
38  2014          2           6428329    36139   6464468   Abr-Jun 2014
39  2014          1           6362108    36290   6398398   Ene-Mar 2014

In [58]:
df_totales_dialBAF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               40 non-null     int64
 1   Trimestre         40 non-null     int64
 2   Banda ancha fija  40 non-null     int64
 3   Dial up           40 non-null     int64
 4   Total             40 non-null     int64
 5   Periodo           40 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.0+ KB

In [59]:
df_totales_dialBAF.isnull().sum()

Año                 0
Trimestre           0
Banda ancha fija    0
Dial up             0
Total               0
Periodo             0
dtype: int64

# Penetracion hogares y habitantes

Anlizare las siguientes hojas
1) Penetración-poblacion: en donde vemos que incluye datos sobre la cantidad de accesos a internet por cada 100 habitantes, según la provincia, el año y el trimestre. 
2) Penetracion-hogares: en donde vemos que incluye datos sobre la cantidad de accesos a internet por cada 100 hogares, según la provincia, el año y el trimestre.
3) Penetracion-totales: en donde vemos que incluye los totales nacionales de accesos a internet por cada 100 hogares y por cada 100 habitantes, según el año y el trimestre.

creo mis dataframes

In [60]:
df_penetracion_hogares = crear_df('Penetracion-hogares')
df_penetracion_poblacion = crear_df('Penetración-poblacion')
df_penetracion_total = crear_df('Penetracion-totales')

comienzo a analizarlos

In [61]:
df_penetracion_poblacion

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2023          4         Buenos Aires                    27.680
1    2023          4      Capital Federal                    47.800
2    2023          4            Catamarca                    17.460
3    2023          4                Chaco                    11.850
4    2023          4               Chubut                    26.040
..    ...        ...                  ...                       ...
955  2014          1           Santa Cruz                     8.677
956  2014          1             Santa Fe                    15.078
957  2014          1  Santiago Del Estero                     4.059
958  2014          1     Tierra Del Fuego                    19.105
959  2014          1              Tucumán                     8.307

[960 rows x 4 columns]

In [62]:
df_penetracion_hogares

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2023          4         Buenos Aires                        80.960
1    2023          4      Capital Federal                       117.020
2    2023          4            Catamarca                        68.630
3    2023          4                Chaco                        44.350
4    2023          4               Chubut                        84.960
..    ...        ...                  ...                           ...
955  2014          1           Santa Cruz                        28.939
956  2014          1             Santa Fe                        47.848
957  2014          1  Santiago Del Estero                        16.310
958  2014          1     Tierra Del Fuego                        63.966
959  2014          1              Tucumán                        33.421

[960 rows x 4 columns]

Puedo notar que ambos se corresponden con informacion a nivel provincial sobre el acceso cada 100 hogares y 100 habitantes

Combino ambos para tener todo un mismo datafrme

In [63]:
df_penetracion = pd.merge(df_penetracion_hogares, df_penetracion_poblacion, on=['Año', 'Trimestre', 'Provincia'])

In [64]:
df_penetracion_total

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2023,4,78.560,24.660,Oct-Dic 2023
1,2023,3,77.840,24.410,Jul-Sept 2023
2,2023,2,77.020,24.140,Abr-Jun 2023
3,2023,1,77.200,24.170,Ene-Mar 2023
4,2022,4,77.210,24.150,Oct-Dic 2022
5,2022,3,76.640,23.950,Jul-Sept 2022
6,2022,2,75.965,23.720,Abr-Jun 2022
7,2022,1,73.879,23.049,Ene-Mar 2022
8,2021,4,73.176,22.811,Oct-Dic 2021
9,2021,3,70.579,21.983,Jul-Sept 2021
10,2021,2,69.240,21.548,Abr-Jun 2021
11,2021,1,67.946,21.128,Ene-Mar 2021
12,2020,4,67.622,21.010,Oct-Dic 2020
13,2020,3,66.310,20.590,Jul-Sept 2020
14,2020,2,64.210,19.918,Abr-Jun 2020
15,2020,1,62.856,19.483,Ene-Mar 2020
16,2019,4,62.920,19.488,Oct-Dic 2019
17,2019,3,65.788,20.361,Jul-Sept 2019
18,2019,2,64.530,19.960,Abr-Jun 2019
19,2019,1,62.479,19.308,Ene-Mar 2019
20,2018,4,61.416,18.970,Oct-Dic 2018
21,2018,3,60.690,18.730,Jul-Sept 2018
22,2018,2,59.162,18.240,Abr-Jun 2018
23,2018,1,58.820,18.120,Ene-Mar 2018
24,2017,4,57.782,17.793,Oct-Dic 2017
25,2017,3,56.899,17.509,Jul-Sept 2017
26,2017,2,54.901,16.883,Abr-Jun 2017
27,2017,1,54.162,16.645,Ene-Mar 2017
28,2016,4,53.936,16.564,Oct-Dic 2016
29,2016,3,53.734,16.505,Jul-Sept 2016
30,2016,2,53.342,16.371,Abr-Jun 2016
31,2016,1,51.845,15.902,Ene-Mar 2016
32,2015,4,52.631,16.123,Oct-Dic 2015
33,2015,3,52.459,16.050,Jul-Sept 2015
34,2015,2,51.760,15.817,Abr-Jun 2015
35,2015,1,51.365,15.677,Ene-Mar 2015
36,2014,4,50.500,15.395,Oct-Dic 2014
37,2014,3,50.672,15.429,Jul-Sept 2014
38,2014,2,49.861,15.164,Abr-Jun 2014
39,2014,1,49.546,15.050,Ene-Mar 2014

Se observa que tenemos informacion a nivel nacional y a nivel provincial, por lo que renombro los dataframes

In [65]:
df_penetracion_nacional = df_penetracion_total
del df_penetracion_total
df_penetracion_provincial = df_penetracion
del df_penetracion

verifico la existencia de datos nulos

In [66]:
df_penetracion_provincial.isnull().sum()

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
Accesos por cada 100 hab        0
dtype: int64

In [67]:
df_penetracion_nacional.isnull().sum()

Año                             0
Trimestre                       0
Accesos por cada 100 hogares    0
Accesos por cada 100 hab        0
Periodo                         0
dtype: int64

Analisis de duplicados

In [68]:
df_penetracion_provincial.duplicated().sum()

np.int64(0)

In [69]:
df_penetracion_nacional.duplicated().sum()

np.int64(0)

# Comenzare a buscar asociaciones a partir de los Dataframes revisados

Primero uno asociaciones a nivel provincial que usare luego en mi analisis:
df_dialBAF (sin la columna total), df_acc_x_tecnología y df_penetracion_provincial

In [70]:
df_dialBAF.drop(columns='Total', inplace=True)

In [71]:
df_acc_x_tecnología['Año'] = pd.to_numeric(df_acc_x_tecnología['Año']).astype('Int64')
df_acc_x_tecnología['Trimestre'] = pd.to_numeric(df_acc_x_tecnología['Trimestre']).astype('Int64')

Defino columnas para unir

In [72]:
col_merge= ["Año", "Trimestre", "Provincia"]

In [78]:
merged_df = pd.merge(df_acc_x_tecnología.drop("Total", axis=1), df_dialBAF, on=col_merge) #, how='outer')
merged_df

In [80]:
provincias_acceso = pd.merge(merged_df, df_penetracion_provincial, on=col_merge)
provincias_acceso

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Banda ancha fija,Dial up,Accesos por cada 100 hogares,Accesos por cada 100 hab
0,2023,4,Buenos Aires,223391.000,2797700.000,1784593.000,137993.000,67943.000,5005720,5900.000,80.960,27.680
1,2023,4,Capital Federal,58700.000,1198835.000,182520.000,4492.000,29820.000,1472317,2050.000,117.020,47.800
2,2023,4,Catamarca,6669.000,11016.000,55437.000,1384.000,81.000,74586,1.000,68.630,17.460
3,2023,4,Chaco,14000.000,60277.000,62301.000,8404.000,2404.000,147381,5.000,44.350,11.850
4,2023,4,Chubut,26306.000,77217.000,26174.000,30543.000,9930.000,169313,857.000,84.960,26.040
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,18927.000,100.000,381.000,4092.000,3264.000,26304,460.000,28.939,8.677
956,2014,1,Santa Fe,322662.000,174296.000,3059.000,5951.000,644.000,506000,612.000,47.848,15.078
957,2014,1,Santiago Del Estero,32567.000,3598.000,19.000,915.000,34.000,37124,9.000,16.310,4.059
958,2014,1,Tierra Del Fuego,21618.000,2837.000,648.000,1.000,2934.000,27272,766.000,63.966,19.105
959,2014,1,Tucumán,129717.000,83.000,121.000,13.000,98.000,129944,88.000,33.421,8.307

In [81]:
provincias_acceso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    Int64
 1   Trimestre                     960 non-null    Int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Banda ancha fija              960 non-null    int64
 9   Dial up                       960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
 11  Accesos por cada 100 hab      960 non-null    float64
dtypes: Int64(2), float64(8), int64(1), object(1)
memory usage: 92.0+ KB

provincias_acceso es mi dataframe final, lo exporto a un archivo csv

In [82]:
provincias_acceso.to_csv('data/provincias_acceso.csv', index=False)

Luego con los datos a nivel nacional decido hacer algo similar
df_penetracion_nacional (sin Periodo), df_total_acc_x_tec(sin periodo y total), df_totales_dialBAF(sin total)

In [96]:
col_merge= ["Año", "Trimestre"]

merged_df = pd.merge( df_total_acc_x_tec.drop(["Total","Periodo"], axis=1), df_totales_dialBAF.drop(["Total","Periodo"], axis=1), on=col_merge)
merged_df

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Banda ancha fija,Dial up
0,2023,4,836390,6022532,3908183,585760,194796,11535868,11793
1,2023,3,897895,6018832,3708718,581436,200027,11395115,11793
2,2023,2,1006509,5997149,3463988,581823,202428,11239781,12116
3,2023,1,1204417,6002582,3243411,576647,214838,11229459,12436
4,2022,4,1315373,6037457,3060575,572969,221740,11195668,12446
5,2022,3,1395277,6031970,2871541,557110,235230,11078691,12437
6,2022,2,1468333,5979214,2723285,556243,231609,10946248,12436
7,2022,1,1533240,6073426,2219533,545814,251996,10611390,12619
8,2021,4,1657615,5984240,2072236,523107,252596,10476933,12861
9,2021,3,1950631,5826257,1566048,492415,250190,10075184,10357
10,2021,2,2018587,5641731,1472246,476968,253552,9852702,10382
11,2021,1,2175211,5424782,1362976,434548,250455,9637956,10016
12,2020,4,2213949,5371824,1311199,421554,253036,9561546,10016
13,2020,3,2263889,5259351,1170879,413259,248821,9346183,10016
14,2020,2,2295533,5005115,1106725,376667,247016,9021040,10016
15,2020,1,2299457,4903674,1047817,352333,209145,8802435,9991
16,2019,4,2414575,4883869,941295,340144,213298,8783053,10128
17,2019,3,2909805,4800091,852221,338241,264326,9142891,21793
18,2019,2,2990457,4635575,760794,308027,265328,8938427,21754
19,2019,1,3132789,4435439,637099,276419,166389,8626323,21812
20,2018,4,3329027,4313831,388013,264299,178485,8451841,21814
21,2018,3,3521447,4238171,247366,246181,93870,8320223,26812
22,2018,2,3557216,4038141,226285,194267,94535,8083533,26911
23,2018,1,3574294,3981129,217460,165300,98870,8009981,27072
24,2017,4,3584311,3818157,211425,155775,100554,7842778,27444
25,2017,3,3622575,3670221,193964,106443,131740,7696594,28349
26,2017,2,3723518,3383434,180777,85813,56122,7401134,28530
27,2017,1,3708898,3276251,180146,84813,55746,7277314,28540
28,2016,4,3722794,3210602,178070,85119,55088,7223128,28545
29,2016,3,3776442,3124855,169898,81455,54300,7178340,28610
30,2016,2,3782085,3035272,167788,85452,59482,7097604,32475
31,2016,1,3792493,2806359,164371,85370,58763,6874704,32652
32,2015,4,3803024,2898226,139187,85726,58668,6952289,32542
33,2015,3,3788696,2840203,162663,84530,58976,6902267,32801
34,2015,2,3767821,2756294,150839,82077,59157,6783279,32909
35,2015,1,3756153,2668248,168188,79098,66045,6699714,38018
36,2014,4,3764038,2536219,149682,76984,71573,6559172,39324
37,2014,3,3714764,2569868,155494,85096,70049,6559264,36007
38,2014,2,3708882,2461670,149363,72405,72148,6428329,36139
39,2014,1,3697066,2407330,150323,70749,72930,6362108,36290

In [ ]:
nacional_acceso= pd.merge(merged_df, df_penetracion_nacional.drop("Periodo", axis=1), on=col_merge)
nacional_acceso

In [98]:
nacional_acceso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           40 non-null     int64
 1   Trimestre                     40 non-null     int64
 2   ADSL                          40 non-null     int64
 3   Cablemodem                    40 non-null     int64
 4   Fibra óptica                  40 non-null     int64
 5   Wireless                      40 non-null     int64
 6   Otros                         40 non-null     int64
 7   Banda ancha fija              40 non-null     int64
 8   Dial up                       40 non-null     int64
 9   Accesos por cada 100 hogares  40 non-null     float64
 10  Accesos por cada 100 hab      40 non-null     float64
dtypes: float64(2), int64(9)
memory usage: 3.6 KB

Guardo en un archivo csv

In [99]:
nacional_acceso.to_csv('data/nacional_acceso.csv', index=False)

## INGRESOS

In [100]:
df_ingresos = crear_df('Ingresos')
df_ingresos

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2023          4              167376014.800   Oct-Dic 2023
1   2023          3              133106593.410  Jul-Sept 2023
2   2023          2              118060280.280   Jun-Mar 2023
3   2033          1              104134992.810   Ene-Mar 2023
4   2022          4               72443482.989   Oct-Dic 2022
5   2022          3               64086784.331  Jul-Sept 2022
6   2022          2               60419500.623   Abr-Jun 2022
7   2022          1               55219313.015   Ene-Mar 2022
8   2021          4               45467887.165   Oct-Dic 2021
9   2021          3               42999944.293  Jul-Sept 2021
10  2021          2               38239666.634   Abr-Jun 2021
11  2021          1               36676371.362   Ene-Mar 2021
12  2020          4               33539702.716   Oct-Dic 2020
13  2020          3               31997444.531  Jul-Sept 2020
14  2020          2               32102475.991   Abr-Jun 2020
15  2020          1               29946216.452   Ene-Mar 2020
16  2019          4               24169250.699   Oct-Dic 2019
17  2019          3               21652748.445  Jul-Sept 2019
18  2019          2               20743117.694   Abr-Jun 2019
19  2019          1               20207413.771   Ene-Mar 2019
20  2018          4               16637686.589   Oct-Dic 2018
21  2018          3               15410980.693  Jul-Sept 2018
22  2018          2               14319467.461   Abr-Jun 2018
23  2018          1               13171459.231   Ene-Mar 2018
24  2017          4               11226127.389   Oct-Dic 2017
25  2017          3               10065997.862  Jul-Sept 2017
26  2017          2                9678646.928   Abr-Jun 2017
27  2017          1                8701201.421   Ene-Mar 2017
28  2016          4                7483980.393   Oct-Dic 2016
29  2016          3                6912441.539  Jul-Sept 2016
30  2016          2                6534240.598   Abr-Jun 2016
31  2016          1                5936844.886   Ene-Mar 2016
32  2015          4                5376899.206   Oct-Dic 2015
33  2015          3                5153738.884  Jul-Sept 2015
34  2015          2                4701790.720   Abr-Jun 2015
35  2015          1                4876385.315   Ene-Mar 2015
36  2014          4                3950440.780   Oct-Dic 2014
37  2014          3                3478637.743  Jul-Sept 2014
38  2014          2                3270816.204   Abr-Jun 2014
39  2014          1                2984054.209   Ene-Mar 2014

Se observa el año '2033' se corrige

In [135]:
df_ingresos['Año'] = df_ingresos['Año'].replace(2033, 2023)

In [101]:
df_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        40 non-null     int64
 1   Trimestre                  40 non-null     int64
 2   Ingresos (miles de pesos)  40 non-null     float64
 3   Periodo                    40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [102]:
df_ingresos.drop("Periodo", axis=1, inplace= True)

Debido a la situacion inflacionaria en Argentina se opta por agregar informacion sobre el dolar blue para no tener el sesgo marcado por la inflacion. Para esto obtengo datoos historico de la pagina https://es.investing.com/currencies/usd-arsb-historical-data 
Y uso estos nuevos datos

In [108]:
dolar = pd.read_csv ('Datos históricos USD_ARSB (1).csv')

In [109]:
dolar

          Fecha    Último Apertura    Máximo    Mínimo  Vol.   % var.
0    01.12.2023  1.015,00   955,00  1.015,00  1.015,00   NaN   13,41%
1    01.11.2023    895,00   925,00    895,00    895,00   NaN   -1,65%
2    01.10.2023    910,00   810,00    910,00    910,00   NaN   14,11%
3    01.09.2023    797,50   727,50    797,50    797,50   NaN    9,25%
4    01.08.2023    730,00   557,00    730,00    730,00   NaN   33,33%
..          ...       ...      ...       ...       ...   ...      ...
115  01.05.2014     11,43    11,43     11,43     11,43   NaN    8,44%
116  01.04.2014     10,54    10,54     10,54     10,54   NaN   -2,23%
117  01.03.2014     10,78    10,78     10,78     10,78   NaN   -3,92%
118  01.02.2014     11,22    11,22     11,22     11,22   NaN  -10,95%
119  01.01.2014     12,60    12,60     12,60     12,60   NaN   25,75%

[120 rows x 7 columns]

Retiro columnas que no me sirven para el analisis y ajusto el nombre

In [114]:
dolar.drop(columns=(['Apertura', 'Máximo' , 'Mínimo', 'Vol.','% var.']),inplace=True)

Cambio el nombre de la columna Ultimo a Valor dolar y lo convierto en float

In [128]:
dolar.rename(columns={'Último':'Valor_dolar'}, inplace=True)
dolar['Valor_dolar'] = dolar['Valor_dolar'].str.replace('.', '').str.replace(',', '.')
dolar['Valor_dolar'] = dolar['Valor_dolar'].astype(float)

In [129]:
dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        120 non-null    datetime64[ns]
 1   Valor_dolar  120 non-null    float64
 2   Año          120 non-null    int32
 3   Trimestre    120 non-null    int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1)
memory usage: 3.4 KB

Convierto fecha a datetime

In [116]:
dolar['Fecha'] = pd.to_datetime(dolar['Fecha'], format='%d.%m.%Y')

Creo Año y Trimestre

In [117]:
dolar['Año'] = dolar['Fecha'].dt.year
dolar['Trimestre'] = dolar['Fecha'].dt.to_period('Q').dt.quarter

In [130]:
dolar

         Fecha  Valor_dolar   Año  Trimestre
0   2023-12-01     1015.000  2023          4
1   2023-11-01      895.000  2023          4
2   2023-10-01      910.000  2023          4
3   2023-09-01      797.500  2023          3
4   2023-08-01      730.000  2023          3
..         ...          ...   ...        ...
115 2014-05-01       11.430  2014          2
116 2014-04-01       10.540  2014          2
117 2014-03-01       10.780  2014          1
118 2014-02-01       11.220  2014          1
119 2014-01-01       12.600  2014          1

[120 rows x 4 columns]

In [131]:
df_dolar = dolar.groupby(['Año', 'Trimestre']).agg({'Valor_dolar': 'mean'})

In [132]:
df_dolar

                Valor_dolar
Año  Trimestre
2014 1               11.533
     2               11.363
     3               14.137
     4               13.783
2015 1               13.053
     2               12.893
     3               15.440
     4               14.907
2016 1               15.023
     2               14.673
     3               15.507
     4               16.167
2017 1               16.280
     2               16.380
     3               18.057
     4               18.427
2018 1               20.297
     2               25.233
     3               34.993
     4               37.460
2019 1               39.803
     2               44.933
     3               56.150
     4               71.167
2020 1               79.083
     2              120.500
     3              137.500
     4              161.333
2021 1              145.167
     2              156.667
     3              181.333
     4              200.833
2022 1              206.500
     2              213.667
     3              289.167
     4              314.667
2023 1              381.667
     2              481.833
     3              691.667
     4              940.000

Agrupo a Ingresos

In [136]:
ingresos_dolar = pd.merge(df_ingresos, df_dolar, on=['Año', 'Trimestre'], how='left')

In [137]:
ingresos_dolar

     Año  Trimestre  Ingresos (miles de pesos)  Valor_dolar
0   2023          4              167376014.800      940.000
1   2023          3              133106593.410      691.667
2   2023          2              118060280.280      481.833
3   2023          1              104134992.810      381.667
4   2022          4               72443482.989      314.667
5   2022          3               64086784.331      289.167
6   2022          2               60419500.623      213.667
7   2022          1               55219313.015      206.500
8   2021          4               45467887.165      200.833
9   2021          3               42999944.293      181.333
10  2021          2               38239666.634      156.667
11  2021          1               36676371.362      145.167
12  2020          4               33539702.716      161.333
13  2020          3               31997444.531      137.500
14  2020          2               32102475.991      120.500
15  2020          1               29946216.452       79.083
16  2019          4               24169250.699       71.167
17  2019          3               21652748.445       56.150
18  2019          2               20743117.694       44.933
19  2019          1               20207413.771       39.803
20  2018          4               16637686.589       37.460
21  2018          3               15410980.693       34.993
22  2018          2               14319467.461       25.233
23  2018          1               13171459.231       20.297
24  2017          4               11226127.389       18.427
25  2017          3               10065997.862       18.057
26  2017          2                9678646.928       16.380
27  2017          1                8701201.421       16.280
28  2016          4                7483980.393       16.167
29  2016          3                6912441.539       15.507
30  2016          2                6534240.598       14.673
31  2016          1                5936844.886       15.023
32  2015          4                5376899.206       14.907
33  2015          3                5153738.884       15.440
34  2015          2                4701790.720       12.893
35  2015          1                4876385.315       13.053
36  2014          4                3950440.780       13.783
37  2014          3                3478637.743       14.137
38  2014          2                3270816.204       11.363
39  2014          1                2984054.209       11.533

Calculo el valor en dolares

In [139]:
ingresos_dolar['Ingresos en USD'] = ingresos_dolar ['Ingresos (miles de pesos)'] / ingresos_dolar ['Valor_dolar']

In [140]:
ingresos_dolar

     Año  Trimestre  Ingresos (miles de pesos)  Valor_dolar  Ingresos en USD
0   2023          4              167376014.800      940.000       178059.590
1   2023          3              133106593.410      691.667       192443.268
2   2023          2              118060280.280      481.833       245023.065
3   2023          1              104134992.810      381.667       272842.776
4   2022          4               72443482.989      314.667       230222.933
5   2022          3               64086784.331      289.167       221625.767
6   2022          2               60419500.623      213.667       282774.574
7   2022          1               55219313.015      206.500       267405.874
8   2021          4               45467887.165      200.833       226396.119
9   2021          3               42999944.293      181.333       237132.046
10  2021          2               38239666.634      156.667       244082.979
11  2021          1               36676371.362      145.167       252650.090
12  2020          4               33539702.716      161.333       207890.719
13  2020          3               31997444.531      137.500       232708.687
14  2020          2               32102475.991      120.500       266410.589
15  2020          1               29946216.452       79.083       378666.594
16  2019          4               24169250.699       71.167       339614.764
17  2019          3               21652748.445       56.150       385623.303
18  2019          2               20743117.694       44.933       461642.085
19  2019          1               20207413.771       39.803       507681.445
20  2018          4               16637686.589       37.460       444145.397
21  2018          3               15410980.693       34.993       440397.619
22  2018          2               14319467.461       25.233       567482.198
23  2018          1               13171459.231       20.297       648946.916
24  2017          4               11226127.389       18.427       609232.673
25  2017          3               10065997.862       18.057       557467.114
26  2017          2                9678646.928       16.380       590881.986
27  2017          1                8701201.421       16.280       534471.832
28  2016          4                7483980.393       16.167       462926.622
29  2016          3                6912441.539       15.507       445772.240
30  2016          2                6534240.598       14.673       445313.989
31  2016          1                5936844.886       15.023       395174.943
32  2015          4                5376899.206       14.907       360704.330
33  2015          3                5153738.884       15.440       333791.379
34  2015          2                4701790.720       12.893       364668.360
35  2015          1                4876385.315       13.053       373573.952
36  2014          4                3950440.780       13.783       286609.972
37  2014          3                3478637.743       14.137       246071.993
38  2014          2                3270816.204       11.363       287839.502
39  2014          1                2984054.209       11.533       258733.024

Guardo en un nuevo csv

In [141]:
ingresos_dolar.to_csv('data/ingresos_dolar.csv', index=False)